@model Dapper.Project.Core.Entity.Sales_Titles

<h2>Create New Sales Title</h2>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="user_id" class="control-label"></label>
        <input asp-for="user_id" class="form-control" />
        <span asp-validation-for="user_id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="sales_titles_date" class="control-label"></label>
        <input asp-for="sales_titles_date" class="form-control" />
        <span asp-validation-for="sales_titles_date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="sales_titles_total_price" class="control-label"></label>
        <input asp-for="sales_titles_total_price" class="form-control" />
        <span asp-validation-for="sales_titles_total_price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="sales_titles_order_status" class="control-label"></label>
        <input asp-for="sales_titles_order_status" class="form-control" />
        <span asp-validation-for="sales_titles_order_status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}